<div class="col text-center">
  <h4 class="font-weight-bold"><i class="fas fa-exclamation-circle"></i> 退会手続きの前にご確認ください</h4>
  <div class="mt-5">
    <p>
      退会処理を行うと、登録済みのプロフィール情報や</br>
      これまでの投稿内容など、すべての情報が削除されます。</br>
      退会を実行する場合は、「上記事項に同意する」に</br>
      チェックを入れて「退会する」ボタンをクリックしてください。
    </p>
  </div>
  <%= form_with model: customer, url: customer_withdraw_path(customer), method: :patch do |f| %>
  <div class="col">
    <%= f.check_box :is_deleted, required: true %>
    <%= f.label :is_deleted, "上記事項に同意する" %>
  </div>
  <div class="row mt-5">
    <div class="col d-flex justify-content-center">
      <%= link_to "キャンセル", customer_profile_path(customer.username), class: "link user-cancel text-center mr-2" %>
      <%= f.submit "退会する", class: "user-unsubscribe ml-5" %>
    </div>
  </div>
  <% end %>
</div>