<div class="container contents">
  <div class="row">
    <div class="col-4 text-center">
      <%= image_tag @customer.get_profile_image(200,200) %>
    </div>
    <div class="col-8">
      <!--他ユーザーには非表示-->
      <% if @customer == current_customer %>
        <div class="col">
          <%= link_to "プロフィールを編集する", edit_customer_registration_path %>
        </div>
        <div class="col">
          <%=link_to"お気に入り",customer_favorites_path(@customer.username) %>
        </div>
        <div class="col">
          <%=link_to"下書き",post_draft_path(@customer.username) %>
        </div>
      <% end %>
      <div class="col">
        <%= @customer.username %>
      </div>
      <div class="col">
        <%= @customer.introduction %>
      </div>
    </div>
  </div>

  <!--投稿写真一覧-->
  <div class="row row-cols-3 mx-auto px-5">
      <% @posts.each do |post| %>
        <%= link_to post_path(post) do %>
        <div class="col text-center mb-4">
            <%= image_tag post.get_image(300, 300) %>
        </div>
        <% end %>
      <% end %>
  </div>
</div>