<div class="container contents">
  <!--投稿編集フォーム-->
  <%= form_with model: @post do |f| %>
    <%= f.file_field :image, accept: "image/*" %>
    <%= f.text_area :caption %>
    <!--PostCategoryモデルにパラメータを飛ばすための実装-->
    <%= select_tag "name", options_from_collection_for_select(Category.all, :id, :name), prompt: '選択してください' %>

    <% if @post.status == "pending" %>
          <%= f.submit "投稿", :name => 'shared' %>
          <%= f.submit "下書きを更新" %>
        <% else %>
          <%= f.submit "更新" %>
        <% end %>


  <% end %>
</div>
