<div class="container contents">
  <!--投稿編集フォーム-->
  <%= form_with model: @post do |f| %>
    <%= f.file_field :image, accept: "image/*" %>
    <%= f.text_area :caption %>
    <%= f.select :category_id, Category.all.map { |category| [category.name, category.id] }, prompt: '選択してください' %>

    <% if @post.status == "draft" %>
      <%= f.submit "投稿", :name => 'share' %>
      <%= f.submit "下書きを更新", :name => 'draft' %>
    <% else %>
      <%= f.submit "更新" %>
    <% end %>

  <% end %>
</div>
