<div class="container pt-5">
  <%= render 'layouts/error', obj: @post %>
  <div class="row d-flex justify-content-center">
    <div class="border p-4 bg-light">
      <h3 class="text-center mb-4 font-weight-bold">新規投稿</h3>
      <!--新規写真投稿フォーム-->
      <%= form_with model: @post do |f| %>
        <%= render 'public/posts/form_contents', f: f %>
        <div class="d-flex justify-content-around">
          <div class="form-group">
            <%= f.submit '投稿', class: "post-submit" %>
          </div>
          <div class="form-group">
            <%= f.submit '下書きに保存', :name => 'draft', class: "post-draft" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.js"></script>
<script>
  bsCustomFileInput.init();

  $(function(){
   $("#input-text").on("keyup", function() {
     let countNum = String($(this).val().length);
     $("#input-counter").text(countNum + "/200");
     if (countNum > 200) {
      $("#input-counter").css("color","red");
    } else {
      $("#input-counter").css("color","black");
    }
   });
  });
</script>