<div class="container contents">
  <%= render 'layouts/error', obj: @post %>
  <!--新規写真投稿フォーム-->
  <%= form_with model: @post do |f| %>
    <%= f.file_field :image, accept: "image/*" %>
    <%= f.text_area :caption %>
    <%= f.select :category_id, Category.all.map { |category| [category.name, category.id] }, prompt: '選択してください' %>
    <%= f.submit '投稿' %>
    <%= f.submit '下書きに保存', :name => 'draft' %>
  <% end %>
</div>