<% posts.each do |post| %>
  <%= link_to customer_profile_path(post.customer.username) do %>
    <div class="col-10 mb-3 mx-auto">
      <%= post.customer.username %>
      <%= image_tag post.get_image(470, 580) %>
  <% end %>
  <div>
    <% if admin_signed_in? %>
      <!--いいねボタン / 管理者の場合の表記-->
      <%= render 'public/favorites/admin_favorites_btn', post: post %>
    <% elsif customer_signed_in? %>
      <!--会員（または、ゲストユーザー）の場合-->
      <p id="favorites_btn_<%= post.id %>">
        <%= render 'public/favorites/btn', post: post %>
      </p>
    <% else %>
      <!--会員ではない場合-->
      <%= render 'public/favorites/admin_favorites_btn', post: post %>
    <% end %>
    <p><%= post.category.name %></p>
    <!--ハッシュタグをリンク化 / Homesヘルパーに記載-->
    <p><%= render_with_tags(post.caption) %></p>
  </div>
</div>
<% end %>
<%= paginate posts, remote: true %>