<% posts.each do |post| %>
  <%= link_to customer_profile_path(post.customer.username) do %>
    <div class="col-10 mb-3 mx-auto">
      <%= post.customer.username %>
      <%= image_tag post.get_image(470, 580) %>
  <% end %>
  <div>
    <% post.categories.each do |category| %>
      <p><%= category.name %></p>
    <% end %>
    <p><%= render_with_tags(post.caption) %></p>
  </div>
</div>
<% end %>
<%= paginate posts, remote: true %>