<h1>Public::Homes#top</h1>
<p>Find me in app/views/public/homes/top.html.erb</p>

<div class="container">
  <% @posts.each do |post| %>
    <%= link_to customer_profile_path(post.customer.username) do %>
      <div class="col-10 mb-3 mx-auto">
        <%= post.customer.username %>
        <%= image_tag post.get_image(470, 580) %>
    <% end %>
    <div>
      <% post.tags.each do |tag| %>
        <p><%= tag.category %></p>
      <% end %>
      <p><%= post.caption %></p>
    </div>
  </div>
  <% end %>
</div>