<div class="container px-5 px-sm-0">
  <%= render "layouts/error", obj: @customer %>
  <div class="row mt-4 mb-3">
    <div class="col-2 mr-5"></div>
    <h5 class="col-5 mb-0 align-self-center"><i class="fas fa-user-edit"></i> <strong><%= @customer.username %></strong>さんの会員情報編集</h5>
  </div>

  <div class="row">
    <div class='col-7 mx-auto border p-3'>
      <%= form_with model: @customer, url: admin_customer_path do |f| %>
        <table class="table-sm table-borderless">
          <tr>
            <th class="col-5"><%= f.label "プロフィール画像" %></th>
            <td class="col"><%= f.file_field :profile_image, accept: 'image/*' %></td>
          </tr>
          <tr>
            <th>会員ID</th>
            <td><%= @customer.id %></td>
          </tr>
          <tr>
            <th>氏名</th>
            <td>
              <%= f.text_field :last_name, autocomplete: "off" %>&nbsp;
              <%= f.text_field :first_name, autocomplete: "off" %>
            </td>
          </tr>
          <tr>
            <th>フリガナ</th>
            <td>
              <%= f.text_field :last_name_kana, autocomplete: "off" %>&nbsp;
              <%= f.text_field :first_name_kana, autocomplete: "off" %>
            </td>
          </tr>
          <tr>
            <th>ユーザーネーム</th>
            <td><%= f.text_field :username, autocomplete: "off", class: "col" %></td>
          </tr>
          <tr>
            <th>自己紹介欄</th>
            <td><%= f.text_area :introduction, autocomplete: "off", size: "42x5" %></td>
          </tr>
          <tr>
            <th>メールアドレス</th>
            <td><%= f.email_field :email, autocomplete: "off", class: "col" %></td>
          </tr>
          <tr>
            <th>電話番号</th>
            <td><%= f.text_field :telephone_number, autocomplete: "off", class: "col" %></td>
          </tr>
          <tr>
            <th>郵便番号</th>
            <td><%= f.text_field :postal_code, autocomplete: "off", class: "col" %></td>
          </tr>
          <tr>
            <th>住所</th>
            <td>
              <%= f.collection_select :prefecture_code, JpPrefecture::Prefecture.all, :code, :name, { include_blank: "--------------選択してください--------------" }, { class: "col mb-1 prefecture-height" } %>
              <%= f.text_field :address_city, autocomplete: "off", class: "col mb-1" %></br>
              <%= f.text_field :address_street, autocomplete: "off", class: "col mb-1" %></br>
              <%= f.text_field :address_building, autocomplete: "off", class: "col" %>
            </td>
          </tr>
          <tr>
            <th>会員ステータス</th>
            <td>
              <div class="custom-control custom-switch">
                <%= f.check_box :is_deleted, class: "custom-control-input", id: "customSwitch1" %>
                <%= f.label "上記会員（#{@customer.username}）を退会させる", class: "custom-control-label font-weight-bold", for: "customSwitch1" %>
              </div>
            </td>
          </tr>
        </table>
        <div class="col mt-4 d-flex justify-content-end">
          <%= link_to "キャンセル", admin_customer_path(@customer), class: "link user-cancel text-center mr-2" %>
          <%= f.submit "変更を保存", data: { confirm: '会員情報を変更してよろしいですか？' }, class: "user-submit ml-5" %>
        </div>
      <% end %>
    </div>
  </div>
</div>

