<div class="container px-5 px-sm-0">
  <div class="row mt-4 mb-3">
    <div class="col-2"></div>
    <h5 class="col-5 mb-0 align-self-center"><i class="fas fa-user-check"></i> <strong><%= @customer.username %></strong>さんの会員詳細</h5>
      <%=link_to admin_customer_posts_path(@customer), class: "col-3 link user-setting text-center px-0" do %>
          <%= @customer.username %>さんの投稿一覧を見る
      <% end %>
  </div>

  <div class="row">
    <div class='col-8 mx-auto border'>
    <!--admin CustomersHelperに「show_content」について記載-->
    <table class="table table-borderless">
      <tr>
        <th>プロフィール画像</th>
        <td><%= image_tag @customer.get_profile_image(150,150) %></td>
      </tr>
      <tr>
        <th>会員ID</th>
        <td><%= @customer.id %></td>
      </tr>
      <tr>
        <th>氏名</th>
        <td><%= show_content(@customer.full_name) %></td>
      </tr>
      <tr>
        <th>フリガナ</th>
        <td><%= show_content(@customer.full_name_kana) %></td>
      </tr>
      <tr>
        <th>ユーザーネーム</th>
        <td><%= @customer.username %></td>
      </tr>
      <tr>
        <th>自己紹介欄</th>
        <td><%= show_content(@customer.introduction) %></td>
      </tr>
      <tr>
        <th>電話番号</th>
        <td><%= show_content(@customer.telephone_number) %></td>
      </tr>
      <tr>
        <th>メールアドレス</th>
        <td><%= @customer.email %></td>
      </tr>
      <tr>
        <th>郵便番号</th>
        <td><%= show_content(@customer.postal_code) %></td>
      </tr>
      <tr>
        <th>住所</th>
        <td><%= show_content(@customer.address) %></td>
      </tr>
      <tr>
        <th>会員ステータス</th>
        <% if !@customer.is_deleted %>
          <td class="text-success font-weight-bold">有効</td>
        <% else %>
          <td class="text-black-50 font-weight-bold">退会</td>
        <% end %>
      </tr>
    </table>
    <div class="col my-4 d-flex justify-content-end">
      <%= link_to "一覧に戻る", admin_customers_path, class: "link user-cancel text-center mr-2" %>
      <%= link_to "編集する", edit_admin_customer_path(@customer), class: "link user-edit text-center ml-5" %>
    </div>
    </div>
  </div>
</div>
