<%= form_with model: customer, url: customer_registration_path, method: :patch do |f| %>
  <%= render "public/devise/shared/error_messages", resource: resource %>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "new-password", id: "new_pass" %>
    <input type="checkbox" onChange="document.getElementById('new_pass').type = (this.checked) ? 'text' : 'password';">パスワードを表示する
    <% if minimum_password_length %>
      <br />
      <em><%= minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", id: "confirm_new_pass" %>
    <input type="checkbox" onChange="document.getElementById('confirm_new_pass').type = (this.checked) ? 'text' : 'password';">パスワードを表示する
  </div>

  <div class="field">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password", id: "current_pass" %>
    <input type="checkbox" onChange="document.getElementById('current_pass').type = (this.checked) ? 'text' : 'password';">パスワードを表示する
  </div>

  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>

<%= link_to "Back", :back %>