<% posts.each do |post| %>
  <div class="mb-3 mx-auto px-0 content_size category_color_<%= post.category_id %>">

    <div>
      <%= link_to admin_customer_path(post.customer) do %>
        <div>
          <%= image_tag post.customer.get_profile_image(60,60) %>
          <%= post.customer.username %>
        </div>
        <div><%= image_tag post.get_image(470, 580) %></div>
      <% end %>
    </div>


    <div class="underline_<%= post.category_id %>">
      <!--カテゴリー画像 / Homesヘルパーに記載-->
      <%= post_category_image(post.category_id) %>
      <%= post.category.name %>

      <!--いいね機能-->
      <% if customer_signed_in? %>
        <span id="favorites_btn_<%= post.id %>"><%= render 'public/favorites/btn', post: post %></span>
      <% else %>
        <%= render 'public/favorites/admin_favorites_btn', post: post %>
      <% end %>
    </div>

    <div class="size">
      <% if post.caption.present? %>
        <%= post.customer.username %>
        <!--ハッシュタグをリンク化 / Homesヘルパーに記載-->
        <%= render_with_tags(post.caption) %>
      <% end %>
    </div>

  </div>
<% end %>

<%= paginate posts, remote: true %>