<% posts.each do |post| %>
  <div class="mb-3 mx-auto px-0 content_size category_color_<%= post.category_id %>">
    <div>
      <!--ユーザー詳細へのリンク-->
      <%= link_to admin_customer_path(post.customer), class: "link" do %>
        <div class="p-1 m-1">
          <%= image_tag post.customer.get_profile_image(60,60), class: "rounded-circle" %>&emsp;
          <strong class="color"><%= post.customer.username %></strong>
        </div>
      <% end %>
      <!--投稿詳細へのリンク-->
      <%= link_to admin_post_path(post), class: "link" do %>
        <div class="post_image"><%= image_tag post.get_image(470, 580) %></div>
      <% end %>
    </div>

    <div class="post_category">
      <!--カテゴリー画像 / Homesヘルパーに記載-->
      <%= post_category_image(post.category_id) %>
      <%= post.category.name %>&emsp;

      <!--いいね機能-->
      <%= render 'public/favorites/admin_favorites_btn', post: post %>
    </div>

    <% if post.caption.present? %>
      <div class="post_caption">
        <strong class="color"><%= post.customer.username %></strong>
        <!--ハッシュタグをリンク化 / Postsヘルパーに記載-->
        <%= admin_render_with_tags(post.caption) %>
      </div>
    <% end %>
  </div>
<% end %>

<%= paginate posts, remote: true %>