<div class="login-image">
  <div class="container contents mt-5">
    <div class="row">
      <div class="col-7 mx-auto">
        <div class="customer-devise-form">
          <div class="text-center my-2">
            <h4><strong>管理者ログイン画面</strong></h4>
          </div>
          <div class="col-10 mx-auto">
          <%= form_with model: @admin, url: admin_session_path, method: :post do |f| %>
            <div class="form-item my-3 col">
              <%= f.label "メールアドレス" %>
              <%= f.email_field :email, autofocus: true, autocomplete: "off", class:"col devise-form-style" %>
            </div>
            <div class="form-item mb-4 col">
                  <%= f.label "パスワード" %>
              <%= f.password_field :password, autocomplete: "current-password", class:"col devise-form-style" %>
            </div>
            <div class="form-item mb-2 col d-flex justify-content-end">
              <%= f.submit "ログイン", class:"customer-devise-submit" %>
            </div>
          <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>